.line-group {
    display: inline-block;
    margin-bottom: 20px;
}

input.flat-style-input {
    background-color:#333333;
    border: none; 
    border-bottom: 1px solid white; 
    padding: 5px; 
    color: white; 
    width: 500px; 
}

input.flat-style-input:focus {
    outline: none; 
    border-bottom-color:  white;
}