html,body.app{height:100%}

body.app{margin:0 !important;overflow-y:hidden}
body.app{padding:0}
body.app{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:12px}
body.app .app-layout{
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
}

.app-layout{
    -webkit-transition:right .5s;
    transition:right .5s;
}

body .app-layout{
    position:relative;
    right:0
}

.app-left-pane{
    -ms-flex-preferred-size:105px;
    flex-basis:105px;
    min-width:105px;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.app-left-pane .left-nav{
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    min-width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-negative:0;
    flex-shrink:0
}

.app-left-pane .left-nav{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}

.app-left-pane .left-nav .left-nav-item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-negative:0;
    flex-shrink:0;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    text-decoration:none;
    opacity:.8;
    font-size:11px;
    -ms-flex-preferred-size:35px;
    flex-basis:35px;
    position:relative;
    white-space:nowrap
}

.app-left-pane .left-nav .left-nav-item{
    padding:5px 5px 5px 10px;
    margin-right:-1px;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent
}

.app-left-pane .left-nav .left-nav-item .icon{
    font-size:14px;
    width:22px
}
.app-left-pane .left-nav .left-nav-item .icon.icon-crown,.app-left-pane .left-nav .left-nav-item .icon.icon-briefcase{
    font-size:13px
}
.app-left-pane .left-nav .left-nav-item:hover{
    opacity:1
}
.app-left-pane .left-nav .left-nav-item .icon.icon-caret-right{
    margin-left:auto;
    margin-top:2px;
    width:auto;
    font-size:10px;
    line-height:1;
    opacity:.5
}


body.app .app-layout .app-center-pane{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    min-width:0;
    padding-left:0;
    padding-right:0
}

body.app .app-main-container{
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:0
}

body.app .app-main-container .app-content-panes{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    min-width:0
}

body.app .app-main-container .app-main-pane,
body.app .app-main-container .app-sec-pane{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    max-width:50%;
    border-right-width:1px;
    border-right-style:solid;
}

body.app .app-main-container .app-main-pane .news-loader{
    margin:.625rem;
    position:absolute;
    left:0;
    display:none;
    top:44px
}
